{%  extends 'base.html.twig' %}

{% block title %}Bonds{% endblock title %}

{% block body %}
    {% for bond in bonds %}
        <h2 class="center deep-purple-text lighten-3">Bond: {{ bond }}</h2>
    {% endfor %}
{% endblock body %}