{%  extends 'base.html.twig' %}

{% block title %}Characteristic: {{ characteristic }}{% endblock title %}

{% block body %}
    <h2 class="center deep-purple-text lighten-3">Characteristic: {{ characteristic }}</h2>
{% endblock body %}