{%  extends 'base.html.twig' %}

{% block title %}Ideal: {{ ideal }}{% endblock title %}

{% block body %}
    <h2 class="center deep-purple-text lighten-3">Ideal: {{ ideal }}</h2>
{% endblock body %}